In [21]:
import pandas as pd
from datetime import datetime as dt

In [1]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/25 13:21:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sc = spark.sparkContext

In [29]:
url_github = "https://raw.githubusercontent.com/datasets/covid-19/main/data/us_deaths.csv"

pd_df = pd.read_csv(url_github)#, dtype={
#                                        "Country/Region": str,
#                                        "Confirmed": int,
#                                        "Recovered": int,
#                                        "Deaths": int
#                                       }, na_values= 0, keep_default_na=False
#                     )
df = spark.createDataFrame(pd_df)

/Users/andrewbowen/CUNY/cunyDATA607/projects/dsContextPresentation/env/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/andrewbowen/CUNY/cunyDATA607/projects/dsContextPresentation/env/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

TypeError: field Admin2: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [16]:
df.limit(5).show()

              Date Country/Region Province/State  Confirmed  Recovered  Deaths
0       2020-01-22    Afghanistan            NaN          0        0.0       0
1       2020-01-23    Afghanistan            NaN          0        0.0       0
2       2020-01-24    Afghanistan            NaN          0        0.0       0
3       2020-01-25    Afghanistan            NaN          0        0.0       0
4       2020-01-26    Afghanistan            NaN          0        0.0       0
...            ...            ...            ...        ...        ...     ...
231739  2022-04-12       Zimbabwe            NaN     247094        0.0    5460
231740  2022-04-13       Zimbabwe            NaN     247160        0.0    5460
231741  2022-04-14       Zimbabwe            NaN     247208        0.0    5462
231742  2022-04-15       Zimbabwe            NaN     247237        0.0    5462
231743  2022-04-16       Zimbabwe            NaN     247237        0.0    5462

[231744 rows x 6 columns]